.headerborder {
  background-color: black;
  height: 75vh;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

@media only screen and (max-width: 991px) {
  .headerborder {
    border-radius: 0%;
    height: 100vh;
  }
}
